@font-face {
    font-family: "Work Sans";
    src: url("WorkSans-VariableFont_wght.woff2") format("woff2 supports variations"),
         url("WorkSans-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 100 900;
  }

body{
    background: #1B1B1B;
}

#font-title{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2px;
    cursor: pointer;
}

#font-title span{
    font-size: 4rem;

    color: rgb(235, 111, 226);
    font-family: "Work Sans";
    font-variation-settings: 'wght' 200, 'ital' 0;
    
     animation: 2s linear infinite test !important; 
    transition: all 0.2s ease;  
}

#font-title span:hover {
    font-variation-settings: 'wght' 600, 'ital' 0;
    transition: all 0.2s ease;
}

h1{
    font-weight: normal;
}

@keyframes test {
    0%{
        font-variation-settings: 'wght' 200, 'ital' 0;
    }

    50%{
        font-variation-settings: 'wght' 800, 'ital' 0;
    }

    100%{
        font-variation-settings: 'wght' 200, 'ital' 0;
    } 
}